<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-4 mb-lg-0">
            <figure class="img-play-vid">
              <img src="{{ url_for('static', filename='images/hero_1.jpg') }}" alt="Image" class="img-fluid">
              <div class="absolute-block d-flex">
                <span class="text">Watch the Video</span>
                <a href="https://youtu.be/0-3d-HPDLrg?si=1Cur-Zuj3jw1pRdN" data-fancybox class="btn-play">
                  <span class="icon-play"></span>
                </a>
              </div>
            </figure>
          </div>
          <div class="col-lg-5 ml-auto">
            <h2 class="mb-4 section-heading">What is Coronavirus?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex officia quas, modi sit eligendi numquam!</p>
            <ul class="list-check list-unstyled mb-5">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipisicing elit</li>
              <li>Unde doloremque</li>
            </ul>
            <p><a href="#" class="btn btn-primary">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>